Package: bartlby-agent
Version: 1.4.4
Architecture: amd64
Maintainer: Helmut Januschka <helmut@januschka.com>
Installed-Size: 116
Depends: libc6 (>= 2.7), libssl0.9.8 (>= 0.9.8m-1)
Section: unknown
Priority: extra
Homepage: http://www.bartlby.org
Description: Bartlby Network Monitoring Agent
 Installs the agend
